<form method="post" action="/Manager/WeeklyGuy">
    <div class="col-md-6 col-md-offset-3 well">
        <input class="form-control" placeholder="First Name" name="first" />
        <br />
        <input class="form-control" placeholder="Last Name" name="last" />
        <br />
        <input class="form-control" placeholder="Email" name="email" />
        <br />
        <button class="btn btn-success">Get Weekly notifications</button>
    </div>
</form>